$navy-blue-120:         #001647;
$navy-blue-100:         #00267A;
$navy-blue-80:          #335094;
$navy-blue-60:          #99A7C9;
$navy-blue-40:          #D9DCEA;
$navy-blue-20:          #EBEEF5;
$navy-blue-10:          #F6F7FC;

$blue-gray-100:         #2D364C;
$blue-gray-80:          #5C6077;
$blue-gray-60:          #83859A;
$blue-gray-40:          #C1C1D0;
$blue-gray-20:          #E0E0E7;
$blue-gray-10:          #EFEFF3;

$gray-100:              #242424;
$gray-80:               #505050;
$gray-60:               #7C7C7C;
$gray-40:               #A7A7A7;
$gray-20:               #D3D3D3;
$gray-10:               #E9E9E9;
$gray-5:                #F4F4F4;

$turquoise-120:         #17B395;
$turquoise-100:         #1ACBAA;
$turquoise-60:          #76E0CC;
$turquoise-40:          #A3EADD;
$turquoise-20:          #D3F5EF;
$turquoise-10:          #F3FCFB;

$red-100:               #FF3C47;
$red-80:                #FF636C;
$red-60:                #FF8A91;
$red-40:                #FFB1B6;
$red-20:                #FFD8DA;
$red-10:                #FFECED;

$orange-120:            #F56E00;
$orange-100:            #FF8F00;
$orange-80:             #FFA533;
$orange-60:             #FFBC66;
$orange-40:             #FFD299;
$orange-20:             #FFEDD6;
$orange-10:             #FFF6EB;

$blue-100:              #1385F0;
$blue-80:               #429DF3;
$blue-60:               #71B6F6;
$blue-40:               #A1CEF9;
$blue-20:               #D0E7FC;
$blue-10:               #E7F3FE;

$carmine-red-120:       #960101;
$carmine-red-100:       #CC0000;
$carmine-red-80:        #D63333;
$carmine-red-60:        #E06666;
$carmine-red-40:        #EB9999;
$carmine-red-20:        #F5CCCC;
$carmine-red-10:        #FAE6E6;
$carmine-red-5:         #FAF2F2;

$iron-grey-120:         #2D3436;
$iron-grey-100:         #636E72;
$iron-grey-80:          #828B8E;
$iron-grey-60:          #A1A8AA;
$iron-grey-1:           #B2BEC3;
$iron-grey-2:           #DFE6E9;
$iron-grey-3:           #F7F8F8;
